<h2>Exotic Weapons</h2>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>

<div class="container">
    <form #userForm="ngForm" (ngSubmit)="getWeapons(userForm)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel required #first="ngModel">
            <label for="xbox">Xbox One</label>
            <input type="radio" class="form-control" id="xbox" name="systemSelected" value="1" ngModel>
            <label for="playstation">Playstation 4</label>
            <input type="radio" class="form-control" id="playstation" name="systemSelected" value="2" ngModel>
            <button type="submit" class="btn btn-success">Find Exotic Weapons</button>
        </div>
    </form>
</div>

<!-- Results Table -->
<div *ngIf="hasWeapons" class="container">
    <table id="weaponResults" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Weapon</th>
                <th>Type</th>
                <th>Description</th>
                <th>Total Kills</th>
                <th>Precision Kills</th>
                <th>Precision Kill Percentage</th>
            </tr>
        </thead>
        <tr #weaponList *ngFor="let weapon of weapons">
            <td>
                <div>{{weapon.name}}</div>
                <img [attr.src]="weapon.image" onerror="../assets/error.png"/>
            </td>
            <td>{{weapon.type}}</td>
            <td>{{weapon.desc}}</td>
            <td>{{weapon.totalKills}}</td>
            <td>{{weapon.precisionKills}}</td>
            <td>{{weapon.precisionKillPercentage}}</td>
        </tr>
    </table>
</div>
